* {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

:root {
  --bg:  #08161c, #092b3a;
  --card: #08161c;
  --text: #FFF;
  --primary: #063254;
  --menu: #08161c;
  
}

body {
  background-image: linear-gradient(to right top, var(--bg));

}
