.textContainer {
  font-size: 1rem;
  color: #ffffffd1
}

.textContainer b {
  color: var(--text)
}

.textContainer b:hover {
  color: #4bbfb7;
  cursor: pointer;
}

.titleContainer {
  font-size: 1.1rem;
  font-weight: bold;
  text-transform: uppercase;
}