.container {
  display: flex;
  gap: 20px;
  align-items: row;
  margin-top: 20px;
}

.container img {
  cursor: pointer;
  background-color: var(--card);
  padding: 10px;
  border-radius: 12px;
  opacity: 0.8;
}
.container svg {
  fill: red;
}